#navbarNavAltMarkup{
	background-color: #adc9f7;



}


h1{

}
#hidden-categories{

	background-color: #adc9f7;



}

.navbar-collapse{
	
	background-color: #adc9f7;

}

#menu{
	background-color: #fcddc2;
}